pandas>=0.22                   # Powerful data structures for data analysis, time series, and statistics.
numpy>=1.16                    # NumPy is the fundamental package for array computing with Python
requests>=2.20                 # Python HTTP for Humans; used for webservice calls